<nav class="navbar navbar-expand-md navbar-light fixed-top bg-primary">
  <a class="navbar-brand" href="#">People UI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home"><fa-icon [icon]="['fas', 'home']"></fa-icon></a>
      </li>
      <div *ngIf="loggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile"><fa-icon [icon]="['fas', 'user-edit']"></fa-icon> Profile</a>
        </li>
      </div>
      <div *ngIf="!loggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register"><fa-icon [icon]="['fas', 'user-plus']"></fa-icon> Register</a>
        </li>
      </div>
    </ul>
  </div>
</nav>
