<div class="container-fluid" style="margin-top: 70px;">
  <label>Street:</label><input type="text" [(ngModel)]="street"/>
  <br>
  <label>Zip Code:</label><input type="text" [(ngModel)]="zipCode" required />
  <br>
  <button (click)="testZipCode(zipCode)">Get City/State</button>
<!--  <button (click)="testValidateAddress()">Validate Address</button>
-->
  <br>
  <div *ngIf="cityState">
    <p>City: {{cityState.city}}</p>
    <p>State: {{cityState.state}}</p>
  </div>
</div>
