<div class="container-fluid" style="margin-top: 70px;">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="form-row">
      <div class="col-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" formControlName="email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)"
          class="alert alert-danger">
            <div *ngIf="registerForm.controls['email'].errors.required">
              Email is required.
            </div>
            <div *ngIf="registerForm.controls['email'].errors.emailCheck">
              A valid email address is required.
            </div>
        </div>
      </div>
    </div>

    <br>

    <div class="form-row">
      <div class="col-3">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" formControlName="firstName">
      </div>
      <div class="col-3">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" formControlName="lastName">
      </div>
    </div>
    
    <br>

    <h3>Address</h3>

    <div class="form-row">
      <div class="col-3">
        <label for="street">Street:</label>
        <input type="text" class="form-control" formControlName="street">
      </div>
      <div class="col-1">
        <label for="postalCode">Postal Code:</label>
        <input type="text" class="form-control" formControlName="postalCode">
      </div>
    </div>

    <div class="form-row">
      <div class="col-3">
        <label for="city">City:</label>
        <input type="text" class="form-control" formControlName="city">
      </div>
      <div class="col-1">
        <label for="state">State:</label>
        <input type="text" class="form-control" formControlName="state">
      </div>
    </div>

    <div class="form-row">
      <div class="col-1">
        <label for="phone">Phone:</label>
        <input type="text" class="form-control" formControlName="phone">
      </div>
    </div>

    <br>    
    <div class="form-row">
      <h5>Register&nbsp;&nbsp;</h5>
      <div class="form-check">
        <a class="btn btn-outline-primary" data-toggle="collapse" href="#playerInfo" role="button" 
           aria-expanded="false" aria-controls="playerInfo">
          Player
        </a>
      </div>
      <div class="form-check">
        <a class="btn btn-outline-primary" data-toggle="collapse" href="#coachInfo" role="button" 
           aria-expanded="false" aria-controls="coachInfo">
          Coach
        </a>
      </div>
      <div class="form-check">
        <a class="btn btn-outline-primary" data-toggle="collapse" href="#refereeInfo" role="button" 
           aria-expanded="false" aria-controls="refereeInfo">
          Referee
        </a>
      </div>      
    </div>

    <br>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="playerInfo">
          <div class="card card-body" formGroupName="player">
            <h4>Player Details</h4> 
            <div class="form-row">
              <div class="col-md-1 mb-1">
                <label for="yearBorn">Year Born:&nbsp;*</label>
                <input type="text" class="form-control" formControlName="yearBorn" (change)="changeAgeGroup()" >
              </div>
            </div>
            <br>
            <h5 style="text-align:left">Team Information</h5>
            <div class="form-row">
              <div class="col-md-1 mb-1">Team Name&nbsp;*</div>
              <div class="col-md-1 mb-1">
                <a class="text-right" [routerLink]="" (click)="addBlankPlayer()">&nbsp;&nbsp;&nbsp;&nbsp;+ Add Team</a>
              </div>
              <div class="col-md-1 mb-1">Age Group&nbsp;*</div>
              <div class="col-md-1 mb-1">Position&nbsp;*</div>
              <div class="col-md-1 mb-1">Year Joined&nbsp;*</div>
              <div class="col-md-1 mb-1">&nbsp;</div>
            </div>
            <div formArrayName="playerInfo">
              <div class="form-row"*ngFor="let player of playerInfo.controls; let i = index" formGroupName="{{i}}">
                <div class="col-md-2 mb-2">
                  <input type="text" class="form-control" formControlName="teamName">
                </div>
                <div class="col-md-1 mb-1">
                  <select class="custom-select" formControlName="ageGroup" (change)="changeAgeGroup()">
                    <option value="0"></option>
                    <option *ngFor="let ageGroup of [5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" [ngValue]="ageGroup">U{{ageGroup}}</option>
                  </select>
                </div>
                <div class="col-md-1 mb-1">
                  <select class="custom-select"formControlName="position">
                    <option *ngFor="let position of Positions" [ngValue]="position">{{position}}</option>
                 </select>
                </div>
                <div class="col-md-1 mb-1">
                  <input type="text" class="form-control" formControlName="yearJoined">
                </div>
                <div class="col-md-1 mb-1">
                  <fa-icon [icon]="['fas', 'trash']" (click)="deleteTeamPlayer(i)"></fa-icon>
                  <div *ngIf="!registration">
                    &nbsp;<fa-icon [icon]="['fas', 'edit']" (click)="editTeamPlayer(i)"></fa-icon>
                  </div>
                </div>
              </div>
              <div *ngIf="!registerForm.valid && (registerForm.dirty || registerForm.touched)">
                <div class="alert alert-danger" *ngIf="player.errors.ageCheck">
                  <strong>Error!</strong> Age Group doesn't match Birth Year
                </div>
                <div class="alert alert-danger" *ngIf="player.errors.yearBornCheck">
                  <strong>Error!</strong> Year Born is invalid
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="coachInfo">
          <div class="card card-body">
            <h4>Coach Details</h4>
            <h5 style="text-align:left">Team</h5>
            <div class="form-row">
              <div class="col-md-1 mb-1">Team Name&nbsp;*</div>
              <div class="col-md-1 mb-1">
                <a class="text-right" [routerLink]="" (click)="addBlankCoach()">&nbsp;&nbsp;&nbsp;&nbsp;+ Add Team</a>
              </div>
              <div class="col-md-1 mb-1">Age Group&nbsp;*</div>
              <div class="col-md-1 mb-1">Year Joined&nbsp;*</div>
              <div class="col-md-1 mb-1">&nbsp;</div>
            </div>
            <div formArrayName="coach">
              <div class="form-row"*ngFor="let coach of coach.controls; let i = index" formGroupName="{{i}}">
                <div class="col-md-2 mb-2">
                  <input type="text" class="form-control" formControlName="teamName">
                </div>
                <div class="col-md-1 mb-1">
                  <input type="text" class="form-control" formControlName="ageGroup">
                </div>
                <div class="col-md-1 mb-1">
                  <input type="text" class="form-control" formControlName="yearJoined">
                </div>
                <div class="col-md-1 mb-1">
                  <fa-icon [icon]="['fas', 'trash']" (click)="deleteTeamCoach(i)"></fa-icon>
                  <div *ngIf="!registration">
                    &nbsp;<fa-icon [icon]="['fas', 'edit']" (click)="editTeamCoach(i)"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="refereeInfo">
          <div class="card card-body">
            <h4 class="center">Referee Details</h4>
            <div class="form-row">
              <div class="col-md-1 mb-1">USSF Id&nbsp;*</div>
              <div class="col-md-1 mb-1">
                <a class="text-right" [routerLink]="" (click)="addBlankReferee()">&nbsp;&nbsp;+ Add Certificate</a>
              </div>
              <div class="col-md-1 mb-1">Grade&nbsp;*</div>
              <div class="col-md-2 mb-2">Experience Levels&nbsp;*</div>
              <div class="col-md-1 mb-1">Year Acquired&nbsp;*</div>
              <div class="col-md-1 mb-1">&nbsp;</div>
            </div>
            <div formArrayName="referee">
              <div class="form-row"*ngFor="let referee of referee.controls; let i = index" formGroupName="{{i}}">
                <div class="col-md-2 mb-2">
                  <input type="text" class="form-control" formControlName="certId">
                </div>
                <div class="col-md-1 mb-1">
                  <input type="text" class="form-control" formControlName="certLevel">
                </div>
                <div class="col-md-2 mb-2">
                  <input type="text" class="form-control" formControlName="expLevel">
                </div>
                <div class="col-md-1 mb-1">
                  <input type="text" class="form-control" formControlName="yearAcquired">
                </div>
                <div class="col-md-1 mb-1">
                  <fa-icon [icon]="['fas', 'trash']" (click)="deleteRefereeCert(i)"></fa-icon>
                  <div *ngIf="!registration">
                    &nbsp;<fa-icon [icon]="['fas', 'edit']" (click)="editRefereeCert(i)"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Submit</button>

  </form>

</div>
